<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% if titulo %}
            {{ titulo }}
        {% endif %}
    </div>
    <div>
        {% csrf_token %}
        <button type="button" onclick="LigaLed(1)">Acender led verde</button>
    </div>
</body>
<script>
    function LigaLed(ledId){
        var xhr = new XMLHttpRequest();
        var formData = new FormData();
        formData.append('ledId', ledId);
        
        xhr.open("POST", "{% url 'acende_led' %}", true);
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        // xhr.onreadystatechange = function() {
        //     if(xhr.readyState == 4 && xhr.status == 200) {
        //         alert(xhr.response)
        //     }
        // }
        xhr.send(formData);
    }
</script>
</html>